
QGraphicsPixmapItem{
  border: 0px solid;
  outline: 0px solid;


}

QMainWindow {
  border: 0px solid;
  outline: 0px solid;
  spacing: 0px;
  margin: 0px;
}

QMainWindow::separator {
  border: 0px solid;
  outline: 5px solid;
  spacing: 0px;
  margin: 0px;
  width: 0px;
  height: 0px;
}

QMenu {
  background-color: rgb(18, 20, 23);
  border-top-width: 1px;
  border-left-width: 1px;
  border-color: rgb(44, 46, 49);
  border-style: solid;
  padding: 2px;
}
QMenu::item{
  color: rgb(200, 200, 200);
}

QMenu::item:selected{
  background-color : rgb(24, 26, 29);
  color: rgb(255, 255, 255);
}
QMenu QPushButton{
  background-color : transparent;
  color : rgb(200,200,200);
  height : 22px;
  padding: 2px;
  padding-right: 12px;
  padding-left: 3px;
  qproperty-iconSize :20px 20px;
  border : none;
  border-radius: 2px;
}
QMenu QPushButton:hover{
  background-color : rgb(85,127,193);
  color : rgb(250,250,250);
}

QDockWidget {
  outline: 0px solid;
  border: 0px solid;
}

QPushButton#ToolButton{
    qproperty-iconSize :20px 20px;
    margin : 0px;
    padding : 0px;
    width : 28px;
    height : 28px;
    border : none;
    border-radius: 3px;
    background-color: transparent;
}
QPushButton#ToolButton:checked{
    background-color: rgb(85,127,193);
}

QPushButton#ToolButton:hover{
    background-color: rgba(255,255,255, 25);
}
QPushButton#ToolButton:pressed{
    background-color: rgb(85,127,193);
}
QPushButton#ToolButton:checked{
    background-color: rgb(85,127,193);
}

QPushButton#ColorButton{
    margin : 0px;
    padding : 0px;
    margin-left : 4px;
    margin-right : 4px;
    width : 12px;
    height : 12px;
    border-style : solid;
    border-width : 1px;
    border-color : rgb(54,57,63);
    border-radius: 2px;
}
QPushButton#ColorButton:hover{
    border-style : none;
}
QPushButton#ColorButton:checked{
    border-style : inset;
    border-color : rgb(255,255,255);
}


QFrame{
    border-style: none;
}

QWidget#Docker {
  background-color: rgb(54, 57, 63);
  border: 0px solid #32414B;
  outline: 5px solid;
  padding: 0px;
  color: #F0F0F0;
  selection-background-color: #1464A0;
  selection-color: #F0F0F0;
}
